<div class="container-fluid">
  <button routerLink='/menu' class="btn btn-secondary">menu</button>

    <div class="container ">


        <button class="google-button row m-auto" (click)="signInWithGoogle()">
            <!-- <i class="google-icon fab fa-google"></i> -->
            <img class="google-icon" src="../../../assets/social-icons/icon_goolge.svg" alt="">
            <i>continue with google</i>
        </button>
        <form (ngSubmit)="sendData()" [formGroup]="userData" class="form row m-auto">
           
            <div class="col-lg-12">

                <label for="">Email</label>
                <input formControlName="email" class="form-control" type="text">
                <div *ngIf='
                userData.controls.email.touched &&
                userData.controls.email.invalid
                ' class="alert alert-danger" role="alert">
                    <i> email invalid !!</i>
                </div>

            </div>
            <!--------make option show password-->
            <div class="col-lg-12">
                <label for="">Password</label>
                <input formControlName="password" id="pass1" class="form-control" type="password">
                <input class="show_password" type="checkbox" (click)="show1()"> Show
                <div *ngIf='
                userData.controls.password.touched &&
                userData.controls.password.invalid
                ' class="alert alert-danger" role="alert">
                    <i> invalid password !!</i>
                </div>
            </div>

            <!-- [disabled]='userData.valid' -->
            <button type="submit" class="btn btn-info my-5 col-6 m-auto"> Submit</button>
            <div>
                <i>{{message}}</i>
            </div>
            <p>Don't have an account yet ? <span id="regesterLink" routerLink ='/regestration'>regester now</span></p>
           

        </form>
    </div>
   




</div>