<!-- <p>pizza-info works!</p> -->
<button routerLink='/dashBoard' class="btn btn-secondary m-3">Dash Board</button>


<div class="container">
    <h3>hint :</h3> <span>if you want to add in deals or commbos there is one price will be taken from you
        ( the small price ) but please put 00 in the input as a place holder to be a valid
    </span>
    <p>the deals section is without any title but please put no-title in the input as a place holder to be a valid </p>
    <p> </p>
</div>
<hr>


<div class="container-fluid">


    <div class="container">


        <!-- <ul>
            <li><input type="radio" name="addToSec" >add to pizza sec</li>
            <li><input type="radio" name="addToSec">add to speciality sec</li>
            <li><input type="radio" name="addToSec">add to combos sec</li>
            <li><input type="radio" name="addToSec">add to deals sec</li>
        </ul> -->

        <form [formGroup]="pizzaData" class="form row m-auto">
            <div class="col-lg-12">
                <label for="">title </label>
                <input formControlName="title" class="form-control" type="text">
                <div *ngIf='
                pizzaData.controls.title.touched &&
                pizzaData.controls.title.invalid
                ' class="alert alert-danger" role="alert">
                    <i> title invalid !!</i>
                </div>
            </div>
            <div class="col-lg-12">

                <label for="">over_view</label>
                <input formControlName="over_view" class="form-control" type="text">
                <div *ngIf='
                pizzaData.controls.over_view.touched &&
                pizzaData.controls.over_view.invalid
                ' class="alert alert-danger" role="alert">
                    <i> over_view invalid !!</i>
                </div>

            </div>
            <!--------make option show smallPrice-->
            <div class="col-lg-12">
                <label for="">smallPrice</label>
                <input formControlName="smallPrice" class="form-control" type="text">

                <div *ngIf='
                pizzaData.controls.smallPrice.touched &&
                pizzaData.controls.smallPrice.invalid
                ' class="alert alert-danger" role="alert">
                    <i> invalid smallPrice !!</i>
                </div>
            </div>
            <div class="col-lg-12">
                <label for="">medium price</label>
                <input formControlName="mediumPrice" class="form-control" type="text">

                <div *ngIf='
                pizzaData.controls.mediumPrice.touched &&
                pizzaData.controls.mediumPrice.invalid
                ' class="alert alert-danger" role="alert">
                    <i> invalid mediumPrice !!</i>
                </div>
            </div>
            <div class="col-lg-12">
                <label for="">large price</label>
                <input formControlName="largePrice" class="form-control" type="text">

                <div *ngIf='
                pizzaData.controls.largePrice.touched &&
                pizzaData.controls.largePrice.invalid
                ' class="alert alert-danger" role="alert">
                    <i> invalid largePrice !!</i>
                </div>
            </div>


            <div class="col-lg-12">
                <label for="">image </label>
                <input (input)='onUpload($event)' class="form-control" type="file">

            </div>
            <div>
                <i>{{message}}</i>
            </div>
            <!-- [disabled]='pizzaData.valid' -->
            <!-- <button type="submit" class="btn btn-info my-5 col-6 m-auto"> Submit</button>--->
            <button id="addToPizzaSec" [disabled]='!pizzaData.valid' (click)="sendPizzaData($event)" type="submit"
                class="btn btn-info my-5 col-6 m-auto">add to pizza sec </button>
            <button id="addToSpecialitySec" [disabled]='!pizzaData.valid' (click)="sendPizzaData($event)" type="submit"
                class="btn btn-success my-5 col-6 m-auto">add to speciality sec </button>
            <button id="addToCombosSec" [disabled]='!pizzaData.valid' (click)="sendPizzaData($event)" type="submit"
                class="btn btn-primary my-5 col-6 m-auto">add to combos sec </button>
            <button id="addToDealsSec" [disabled]='!pizzaData.valid' (click)="sendPizzaData($event)" type="submit"
                class="btn btn-warning my-5 col-6 m-auto">add to deals sec </button>
            <button id="addToAdditionsSec" [disabled]='!pizzaData.valid' (click)="sendPizzaData($event)" type="submit"
                class="btn btn-secondary my-5 col-6 m-auto">add to addtions sec </button>



        </form>
    </div>





</div>