.container-fluid {
  background-color: #efefef;
  padding: 80px 0;
  .italick-message{
    margin: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }

  // .form-container {
  //   // background-color: teal;
    
  // }
  .btn{
    margin: 30px;
  }
  .info-font{
    font-weight: 600;
    margin: 15px 0px;
  }
  
  .container {
    background-color: #fff;
    box-shadow: #aba9ab 0px 0px 5px 0px;
    border-radius: 8px;
    margin: 30px auto;
  }
}
